{% extends "base.html" %}
<!-- Title -->
{% block title %}Add Project{% endblock %}
<!-- Content -->
{% block content %}

<main id="main">
	<!-- ======= Add Project Section ======= -->
	<section id="add-project" class="add-project">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<a
					href="{{ url_for('admin') }}"
					class="back-to-admin d-flex align-items-center justify-content-center"
				>
					<i class="bi bi-arrow-left-short"></i>
				</a>
				<h2>Add Project</h2>
				<p>Fill in the details to add a new project to your portfolio.</p>
			</div>

			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<form method="POST" enctype="multipart/form-data" class="email-form">
						{{ form.hidden_tag() }}
						<div class="row">
							<div class="col-md-6 form-group">
								<div class="form-floating">
									<!-- category label -->
									{{ form.category(class="form-control" + (" is-invalid" if
									form.category.errors else ""), placeholder="Category",
									id="category") }}
									<!-- Label -->
									{{ form.category.label(class="form-label") }}
									<!-- category error message -->
									{% for error in form.category.errors %}
									<div class="invalid-feedback">{{ error }}</div>
									{% endfor %}
								</div>
							</div>
							<div class="col-md-6 form-group mt-3 mt-md-0">
								<div class="form-floating">
									<!-- client label -->
									{{ form.client(class="form-control" + (" is-invalid" if
									form.client.errors else ""), placeholder="Client",
									id="client") }}
									<!-- Label -->
									{{ form.client.label(class="form-label") }}
									<!-- client error message -->
									{% for error in form.client.errors %}
									<div class="invalid-feedback">{{ error }}</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								<!-- date label -->
								{{ form.date(class="form-control" + (" is-invalid" if
								form.date.errors else ""), placeholder="Date", id="date") }}
								<!-- Label -->
								{{ form.date.label(class="form-label") }}
								<!-- date error message -->
								{% for error in form.date.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								<!-- URL label -->
								{{ form.url(class="form-control" + (" is-invalid" if
								form.url.errors else ""), placeholder="Project URL", id="url")
								}}
								<!-- Label -->
								{{ form.url.label(class="form-label") }}
								<!-- URL error message -->
								{% for error in form.url.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								<!-- description label -->
								{{ form.description(class="form-control auto-expand" + (" is-invalid" if
								form.description.errors else ""), placeholder="Description",
								id="description",) }}
								<!-- Label -->
								{{ form.description.label(class="form-label") }}
								<!-- description error message -->
								{% for error in form.description.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								<!-- title label -->
								{{ form.title(class="form-control" + (" is-invalid" if
								form.title.errors else ""), placeholder="Title", id="title") }}
								<!-- Label -->
								{{ form.title.label(class="form-label") }}
								<!-- title error message -->
								{% for error in form.title.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							<!-- images label -->
							{{ form.images(class="form-control" + (" is-invalid" if
							form.images.errors else ""), multiple=True, id="images") }}
							<!-- images error message -->
							{% for error in form.images.errors %}
							<div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
						</div>
						<div class="text-center mt-4">{{ form.submit() }}</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End Add Project Section -->
</main>
<!-- End #main -->

{% endblock %}
