<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta name="msvalidate.01" content="54F23C05189E7A20937EF16A063401F6" />
		<meta name="robots" content="index, follow" />
		<title>{% block title %}{% endblock %} - Brian Arriaga</title>
		<meta
			name="description"
			content="{% block description %}Brian Arriaga's Portfolio{% endblock %}"
		/>
		<meta name="author" content="Brian Arriaga" />
		<meta
			name="keywords"
			content="Brian Arriaga, Systems Engineer, Software Developer, Portfolio"
		/>
		<link rel="canonical" href="{{ request.url }}" />

		<!-- Open Graph Tags -->
		<meta property="og:title" content="{% block og_title %}{% endblock %}" />
		<meta
			property="og:description"
			content="{% block og_description %}{% endblock %}"
		/>
		<meta
			property="og:image"
			content="{% block og_image %}{{ url_for('static', filename='assets/img/og_image.png') }}{% endblock %}"
		/>
		<meta
			property="og:url"
			content="{% block og_url %}{{ request.url }}{% endblock %}"
		/>
		<meta property="og:type" content="website" />

		<!-- Twitter Card Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:title"
			content="{% block twitter_title %}{% endblock %}"
		/>
		<meta
			name="twitter:description"
			content="{% block twitter_description %}{% endblock %}"
		/>
		<meta
			name="twitter:image"
			content="{% block twitter_image %}{{ url_for('static', filename='assets/img/twitter_image.png') }}{% endblock %}"
		/>

		<!-- Favicons -->
		<link
			href="{{ url_for('static', filename='assets/img/favicon.png') }}"
			rel="icon"
		/>
		<link
			href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}"
			rel="apple-touch-icon"
		/>

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet"
		/>

		<!-- Vendor CSS Files -->
		<link
			href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}"
			rel="stylesheet"
		/>

		<!-- Main CSS File -->
		<link
			href="{{ url_for('static', filename='assets/css/style.css') }}"
			rel="stylesheet"
		/>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Person",
				"name": "Brian Arriaga",
				"url": "https://brianarriaga.dev",
				"sameAs": [
					"https://x.com/BAXTOR95",
					"https://github.com/BAXTOR95",
					"https://www.linkedin.com/in/brian-arriaga-s-28845b138/"
				],
				"jobTitle": "Systems Engineer, Software Developer",
				"description": "Dedicated to developing secure, efficient, and scalable software solutions. Let's connect and discuss how I can help bring your ideas to life."
			}
		</script>
	</head>

	<body>
		<!-- ======= Header ======= -->
		<header id="header" class="fixed-top">
			<div
				class="container-fluid d-flex justify-content-between align-items-center"
			>
				<a href="{{ url_for('index') }}" class="logo">
					<img
						src="{{ url_for('static', filename='assets/img/logo.png') }}"
						alt="Brian Arriaga Logo"
						class="img-fluid"
					/>
				</a>

				<nav id="navbar" class="navbar order-last order-lg-0">
					<ul>
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('about') }}">About</a></li>
						<li><a href="{{ url_for('resume') }}">Resume</a></li>
						<li><a href="{{ url_for('services') }}">Services</a></li>
						<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
						<li><a href="{{ url_for('contact') }}">Contact</a></li>
						{% if current_user.is_authenticated and current_user.is_admin %}
						<li><a href="{{ url_for('admin') }}">Admin</a></li>
						{% endif %}
					</ul>
					<i class="bi bi-list mobile-nav-toggle"></i>
				</nav>
				<!-- .navbar -->

				<div class="header-social-links">
					<!-- Hidden Login Button -->
					{% if current_user.is_authenticated %}
					<a href="{{ url_for('logout') }}" class="hidden-login"
						><i class="bi bi-box-arrow-right"></i
					></a>
					{% else %}
					<a href="{{ url_for('login') }}" class="hidden-login"
						><i class="bi bi-box-arrow-in-right"></i
					></a>
					{% endif %}
					<a href="https://x.com/BAXTOR95" class="twitter"
						><i class="bi bi-twitter"></i
					></a>
					<a href="https://github.com/BAXTOR95" class="github"
						><i class="bi bi-github"></i
					></a>
					<a
						href="https://www.linkedin.com/in/brian-arriaga-s-28845b138/"
						class="linkedin"
						><i class="bi bi-linkedin"></i
					></a>
				</div>
			</div>
		</header>
		<!-- End Header -->

		{% block content %}{% endblock %}

		<!-- ======= Footer ======= -->
		<footer id="footer">
			<div class="container">
				<h3>Brian Arriaga</h3>
				<p>
					Dedicated to developing secure, efficient, and scalable software
					solutions. Let's connect and discuss how I can help bring your ideas
					to life.
				</p>
				<div class="social-links">
					<a href="https://x.com/BAXTOR95" class="twitter"
						><i class="bx bxl-twitter"></i
					></a>
					<a href="https://github.com/BAXTOR95" class="github"
						><i class="bx bxl-github"></i
					></a>
					<a
						href="https://www.linkedin.com/in/brian-arriaga-s-28845b138/"
						class="linkedin"
						><i class="bx bxl-linkedin"></i
					></a>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<div id="preloader"></div>
		<a
			href="#"
			class="back-to-top d-flex align-items-center justify-content-center"
			><i class="bi bi-arrow-up-short"></i
		></a>

		<!-- Vendor JS Files -->
		<script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/typed.js/typed.umd.js') }}"></script>
		<script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>

		<!-- Template Main JS File -->
		<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	</body>
</html>
