{% extends "base.html" %}
<!-- Title -->
{% block title %}Edit Project{% endblock %}
<!-- Content -->
{% block content %}

<main id="main">
	<!-- ======= Edit Project Section ======= -->
	<section id="edit-project" class="edit-project">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<a
					href="{{ url_for('admin') }}"
					class="back-to-admin d-flex align-items-center justify-content-center"
				>
					<i class="bi bi-arrow-left-short"></i>
				</a>
				<h2>Edit Project</h2>
				<p>Edit the details of your project.</p>
			</div>

			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<form method="POST" enctype="multipart/form-data" class="email-form">
						{{ form.hidden_tag() }}
						<div class="row">
							<div class="col-md-6 form-group">
								<div class="form-floating">
									{{ form.category(class="form-control" + (" is-invalid" if
									form.category.errors else ""), placeholder="Category",
									id="category") }}
									<!-- Label -->
									{{ form.category.label(class="form-label") }}
									<!-- Display form errors -->
									{% for error in form.category.errors %}
									<div class="invalid-feedback">{{ error }}</div>
									{% endfor %}
								</div>
							</div>
							<div class="col-md-6 form-group mt-3 mt-md-0">
								<div class="form-floating">
									{{ form.client(class="form-control" + (" is-invalid" if
									form.client.errors else ""), placeholder="Client",
									id="client") }}
									<!-- Label -->
									{{ form.client.label(class="form-label") }}
									<!-- Display form errors -->
									{% for error in form.client.errors %}
									<div class="invalid-feedback">{{ error }}</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								{{ form.date(class="form-control" + (" is-invalid" if
								form.date.errors else ""), placeholder="Date", id="date") }}
								<!-- Label -->
								{{ form.date.label(class="form-label") }}
								<!-- Display form errors -->
								{% for error in form.date.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								{{ form.url(class="form-control" + (" is-invalid" if
								form.url.errors else ""), placeholder="Project URL", id="url")
								}}
								<!-- Label -->
								{{ form.url.label(class="form-label") }}
								<!-- Display form errors -->
								{% for error in form.url.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								{{ form.description(class="form-control auto-expand" + (" is-invalid" if
								form.description.errors else ""), placeholder="Description",
								id="description") }}
								<!-- Label -->
								{{ form.description.label(class="form-label") }}
								<!-- Display form errors -->
								{% for error in form.description.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							<div class="form-floating">
								{{ form.title(class="form-control" + (" is-invalid" if
								form.title.errors else ""), placeholder="Title", id="title") }}
								<!-- Label -->
								{{ form.title.label(class="form-label") }}
								<!-- Display form errors -->
								{% for error in form.title.errors %}
								<div class="invalid-feedback">{{ error }}</div>
								{% endfor %}
							</div>
						</div>
						<div class="form-group mt-3">
							{{ form.images(class="form-control" + (" is-invalid" if
							form.images.errors else ""), multiple=True, id="images") }}
							<!-- Display form errors -->
							{% for error in form.images.errors %}
							<div class="invalid-feedback">{{ error }}</div>
							{% endfor %}
						</div>

						<div class="form-group mt-3">
							<label for="existing_images">Existing Images</label>
							<div class="existing-images-container">
								{% for image, keep in zip(project.images, form.keep_images) %}
								<div class="existing-image">
									<img
										src="{{ url_for('static', filename=image.image_url.split('/', 1)[1]) }}"
										alt="{{ image.image_url }}"
										class="img-thumbnail"
									/>
									<div class="form-check">
										<input
											type="checkbox"
											name="keep_images"
											value="y"
											class="form-check-input"
											checked
										/>
										<input
											type="hidden"
											name="keep_image_ids"
											value="{{ image.id }}"
										/>
										<label for="keep_images" class="form-check-label"
											>Keep</label
										>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>

						<div class="text-center mt-4">
							{{ form.submit() }}
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- End Edit Project Section -->
</main>
<!-- End #main -->

{% endblock %}
