{% extends "base.html" %}
<!-- Title -->
{% block title %}Portfolio{% endblock %}
<!-- Content -->
{% block content %}

<main id="main">
	<!-- ======= Portfolio Section ======= -->
	<section id="portfolio" class="portfolio">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Portfolio</h2>
				<p>
					Explore my portfolio to see the diverse range of projects I have
					worked on. From web development to data analysis and automation, each
					project highlights my ability to deliver innovative and effective
					solutions tailored to meet specific business needs.
				</p>
			</div>

			<div class="row" data-aos="fade-up" data-aos-delay="100">
				<div class="col-lg-12 d-flex justify-content-center">
					<ul id="portfolio-flters">
						<li data-filter="*" class="filter-active">All</li>
						<li data-filter=".filter-scripting">Scripting</li>
						<li data-filter=".filter-web-development">Web Development</li>
						<li data-filter=".filter-gui-desktop-app">GUI Desktop App</li>
						<li data-filter=".filter-game">Game</li>
						<li data-filter=".filter-http-requests-apis">
							HTTP Requests & APIs
						</li>
						<li data-filter=".filter-image-processing-data-science">
							Image Processing & Data Science
						</li>
						<li data-filter=".filter-web-scraping">Web Scraping</li>
						<li data-filter=".filter-gui-automation">GUI Automation</li>
						<li data-filter=".filter-automation">Automation</li>
						<li data-filter=".filter-data-science">Data Science</li>
					</ul>
				</div>
			</div>

			<div
				class="row portfolio-container"
				data-aos="fade-up"
				data-aos-delay="200"
			>
				{% for project in projects %}
				<div
					class="col-lg-4 col-md-6 portfolio-item filter-{{ project.category|replace('&', '')|lower|replace(' ', '-') }}"
				>
					<div class="portfolio-wrap">
						<img
							src="{{ url_for('static', filename=project.images[0].image_url.split('/', 1)[1]) }}"
							class="img-fluid"
							alt="{{ project.title }}"
						/>
						<div class="portfolio-info">
							<h4>{{ project.title }}</h4>
							<p>{{ project.category }}</p>
							<div class="portfolio-links">
								<a
									href="{{ url_for('static', filename=project.images[0].image_url.split('/', 1)[1]) }}"
									data-gallery="portfolioGallery"
									class="portfolio-lightbox"
									title="{{ project.title }}"
								>
									<i class="bx bx-plus"></i>
								</a>
								<a
									href="{{ url_for('portfolio_details', id=project.id) }}"
									class="portfolio-details-lightbox"
									data-glightbox="type: external"
									title="Portfolio Details"
								>
									<i class="bx bx-link"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Portfolio Section -->
</main>
<!-- End #main -->

{% endblock %}
