{% extends "base.html" %}
<!-- Title -->
{% block title %}Resume{% endblock %}
<!-- Content -->
{% block content %}

<main id="main">
	<!-- ======= Resume Section ======= -->
	<section id="resume" class="resume">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Resume</h2>
				<p>
					Strategic Systems Engineer and Business Analyst with over 3 years of
					experience optimizing technology and business processes within the
					banking sector. Expert in leveraging programming skills and analytical
					tools to drive business efficiency and system enhancements. Proven
					track record of leading cross-functional teams to meet complex project
					goals and improve system functionalities.
				</p>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<h3 class="resume-title">Summary</h3>
					<div class="resume-item pb-0">
						<h4>Brian Arriaga</h4>
						<p>
							<em
								>Innovative and results-driven Systems Engineer and Software
								Developer with extensive experience in software development
								across various industries. Known for my problem-solving skills
								and ability to bridge the gap between technical and
								non-technical stakeholders.</em
							>
						</p>

						<ul>
							<li>2437 S Conway Rd, Orlando, FL 32812</li>
							<li>(407) 922 – 5620</li>
							<li>brian.arriaga@gmail.com</li>
						</ul>
					</div>

					<h3 class="resume-title">Education</h3>
					<div class="resume-item">
						<h4>Bachelor’s Degree of Systems Engineering</h4>
						<h5>2014 - 2020</h5>
						<p><em>Santa Maria's University, Caracas, Venezuela</em></p>
					</div>
				</div>
				<div class="col-lg-6">
					<h3 class="resume-title">Professional Experience</h3>
					<div class="resume-item">
						<h4>Programming Analyst</h4>
						<h5>07/2017 – 08/2021</h5>
						<p><em>Citibank, Caracas, Venezuela</em></p>
						<ul>
							<li>
								Spearheaded a 40% increase in process efficiency by automating
								80% of BI tasks using Python, VBA, and SQL, significantly
								reducing manual workload.
							</li>
							<li>
								Contributed to a 30% improvement in application performance by
								collaborating on the development and optimization of over 15
								code modules.
							</li>
							<li>
								Boosted data processing efficiency by 65%, slashing processing
								times through strategic enhancements in data handling and system
								operations.
							</li>
							<li>
								Authored and maintained user guides for 15 programs, improving
								usability and support for over 50 employees, enhancing
								organizational knowledge sharing.
							</li>
							<li>
								Reduced developer onboarding time by 50% by documenting
								essential programming tasks and system operations, facilitating
								quicker ramp-up for new team members.
							</li>
						</ul>
					</div>
					<div class="resume-item">
						<h4>CNC Router Programmer & Operator</h4>
						<h5>10/2021 – Present</h5>
						<p><em>Majestic Marble & Granite, Orlando, FL</em></p>
						<ul>
							<li>
								Achieved a 99% adherence rate to quality and safety standards
								through meticulous CNC machine operations and adherence to
								protocols.
							</li>
							<li>
								Enhanced overall operational efficiency by 10% by streamlining
								machine setup processes and implementing effective
								troubleshooting techniques.
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<h3 class="resume-title">Skills</h3>
					<div class="resume-item">
						<ul>
							<li>
								<strong>Programming Languages:</strong> Python, JavaScript
								(including ES5/ES6), SQL, VBA
							</li>
							<li>
								<strong>Web Development:</strong> React, Angular, Django, HTML5,
								CSS3, Node.js, TypeScript
							</li>
							<li>
								<strong>Data Analysis Tools:</strong> SAS, MSBI Suite (SSIS,
								SSRS), SQL Server, PostgreSQL
							</li>
							<li>
								<strong>Software & Tools:</strong> Docker, Git, Microsoft Office
								Suite, ETL Tools
							</li>
							<li>
								<strong>Methodologies:</strong> Agile, TDD/BDD, Continuous
								Integration/Continuous Deployment (CI/CD)
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<h3 class="resume-title">Certifications & Achievements</h3>
					<div class="resume-item">
						<ul>
							<li>
								Recognized for leading a major BI task automation initiative at
								Citibank Venezuela, significantly enhancing operational
								efficiency, and reducing project delivery times.
							</li>
							<li>
								Commended for exceptional communication skills, facilitating
								seamless exchanges between IT and various business units.
							</li>
						</ul>
					</div>

					<h3 class="resume-title">Languages</h3>
					<div class="resume-item">
						<ul>
							<li><strong>Spanish:</strong> Native/Bilingual Proficiency</li>
							<li><strong>English:</strong> Full Professional Proficiency</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Resume Section -->
</main>
<!-- End #main -->

{% endblock %}
